@media (min-width: 440px) {
    .table-container {
        margin: 0;
        width: 100%;
    }
}

@media (max-width: 439px) {
    .table-container {
        width: 100%;
        margin: 0px;
    }
}